<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Django Skeleton</title>
	</head>
	<style>
		html {
			color-scheme: light dark;
		}
	</style>
	<body>
		<div class="flex justify-center items-center h-screen">
			<div>
				<h1 class="font-bold text-7xl">
					<span
						class="bg-clip-text text-transparent bg-gradient-to-r from-green-500 to-violet-500"
						>Django Skelton App..
					</span>
				</h1>
				<div class="text-center mt-20">
					<p class="text-red-500 font-semibold text-3xl mb-2">Features:</p>
					<ul>
						<li>Tailwind CSS</li>
						<li>Django Debug Toolbar</li>
						<li>Django Browser Reload</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
